/* estilos.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0056b3;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav h1 {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 7px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

/* Corrigindo o hover dos links no cabeçalho */
nav ul li a:hover, nav ul li a:focus {
    background-color: #0300a1; /* Fundo branco */
    color: #ffffff; /* Texto em azul escuro */
    text-decoration: underline; /* Adiciona sublinhado para destacar ainda mais */
}


main {
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 180px;  /* Ajuste conforme necessário */
    object-fit: cover;
}

.card-title a:hover {
    color: #007bff; /* Cor de hover para os links, ajuste conforme seu tema */
}

.card:hover .card-body {
    opacity: 0.9;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.img-fluid {
    max-height: 5px; /* Limita a altura da imagem */
    object-fit: scale-down; /* Garante que a imagem cubra o espaço disponível sem distorção */
}

.card img {
    max-height: 80px; /* Ajuste a altura máxima conforme necessário */
    max-width: 100%; /* Garante que a largura da imagem não exceda a largura do contêiner */
    object-fit: cover; /* Garante que a imagem cubra o espaço atribuído sem distorcer */
    border-radius: 5px; /* Opcional: Adiciona bordas arredondadas à imagem */
}

.col-md-4 {
    flex: 0 0 auto; /* Ajusta a flexibilidade do contêiner da imagem para não expandir além do necessário */
    padding-right: 15px; /* Adiciona um pouco de espaço entre a imagem e o texto */
}

.card-body {
    padding: 0.5rem; /* Reduz o padding no corpo do card para um layout mais compacto */
}

.card-title a {
    font-size: 1rem; /* Ajusta o tamanho da fonte do título do card, se necessário */
}

/* estilos.css */
.card-header {
    background-color: #007bff;
    color: white;
}

.card-title {
    color: #0056b3;
}

a.text-decoration-none:hover {
    text-decoration: underline;
    color: #0056b3;
}
